<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__logo">
        <img src="../../assets/images/content/logo-white.svg" alt="Логотип Мягкие мишки" width="55" height="57">
      </div>

      <div class="footer__catalog">
        <h3 class="footer__title  footer__title--accent">Каталог</h3>
        <ul class="footer__list  list">
          <li class="footer__item">
            <span class="footer__title">Плюшевые игрушки</span>
            <ul>
              <li><a href="">Бегемоты</a></li>
              <li><a href="">Пантеры</a></li>
              <li><a href="">Медведи</a></li>
            </ul>
          </li>
          <li class="footer__item">
            <span class="footer__title">Детская мебель</span>
            <ul>
              <li><a href="">Диваны</a></li>
              <li><a href="">Кресла</a></li>
              <li><a href="">Коврики</a></li>
            </ul>
          </li>
          <li class="footer__item">
            <span class="footer__title">Качалки-игрушки</span>
            <ul>
              <li><a href="">Лошадки</a></li>
              <li><a href="">Собачки</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer__contacts">
        <h3 class="footer__title">Контакты</h3>
        <a href="tel:84957408255" class="footer__telephone">+7 (495) 740-82-55</a>
        <a class="footer__link">Заказать звонок</a>
        <p class="footer-text">
          Работаем 9:00 - 21:00
          По Москве и области
        </p>
      </div>
    </div>

    <div class="footer__bottom">
      <p class="footer-copyright">
        © «Мягкие мишки.pф». Любое копирование материалов сайта, без указания источника,
        запрещена согласно 4ч, раздел 7 Гражданского Кодекса РФ.
      </p>

      <div class="footer-social">
        <span class="footer-title">Давайте Дружить:</span>
        <ul class="social  list">
          <li class="social__item">
            <a class="social__link  icon-vk" href="" target="_blank">Вконтакте</a>
          </li>
          <li class="social__item">
            <a class="social__link  icon-insta" href="" target="_blank">Instagram</a>
          </li>
          <li class="social__item">
            <a class="social__link  icon-fb" href="" target="_blank">Facebook</a>
          </li>
          <li class="social__item">
            <a class="social__link  icon-ytube" href="" target="_blank">YouTube</a>
          </li>
          <li class="social__item">
            <a class="social__link  icon-ok" href="" target="_blank">Одноклассники</a>
          </li>
          <li class="social__item">
            <a class="social__link  icon-mm" href="" target="_blank">МойМир</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
