<header class="header">
  <div class="container">
    <div class="header__logo"><img src="../../assets/images/content/logo.svg" alt="Логотип"></div>

    <div class="header__description">Работаем 9:00 - 21:00 По Москве и области</div>

    <div class="header__contacts  messengers">
      <ul class="messengers__list  list">
        <li class="messengers__item"><a href=""><img src="../assets/images/icons/telegram.svg" alt="Телеграм"
              title="Связаться в Telegram"></a></li class="messengers__item">
        <li class="messengers__item"><a href=""><img src="../assets/images/icons/whatsapp.svg" alt="Ватсап"
              title="Связаться в whatsapp"></a></li>
        <li class="messengers__item"><a href=""><img src="../assets/images/icons/viber.svg" alt="Вайбер"
              title="Связаться в viber"></a></li>
        <li class="messengers__item  messengers__phone"><a href="tel:84957408255"><img
              src="../assets/images/icons/phone-2.svg" alt="Телефон" title="Позвонить по номеру телефона"><span
              class="tablet-hide">+7 (495) 740-82-55</span></a></li>
      </ul>
    </div>

    <div class="header__buttons">
      <a class="button  button--transparent" href="">Заказать звонок</a>
    </div>
    <div class="header__navigation">

      <nav class="navigation">
        <ul class="navigation__list  list">
          <li><a href="">Главная</a></li>
          <li><a href="">Игрушки</a></li>
          <li><a href="">Мебель</a></li>
          <li><a href="">Качалки</a></li>
          <li><a href="">Оплата и доставка</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </nav>

      <button class="navigation-button">
        <span class="navigation-button__icon"></span>
      </button>
    </div>



  </div>
</header>
