<header class="header">
  <div class="container">
    <div class="header__logo">
      <img src="../../assets/images/content/logo.svg" alt="Логотип">
    </div>

    <p class="header__description">Работаем 9:00 - 21:00 По Москве и области</p>

    <ul class="messengers  list">
      <li class="messengers__item">
        <a class="messengers__link" href="">
          <img src="../assets/images/icons/telegram.svg" alt="Telegram" title="Связаться в Telegram" width="26"
            height="26">
        </a></li>
      <li class="messengers__item">
        <a class="messengers__link" href="">
          <img src="../assets/images/icons/whatsapp.svg" alt="WhatsApp" title="Связаться в WhatsApp" width="26"
            height="26">
        </a>
      </li>
      <li class="messengers__item">
        <a class="messengers__link" href="">
          <img src="../assets/images/icons/viber.svg" alt="Viber" title="Связаться в Viber" width="26" height="26">
        </a>
      </li>
      <li class="messengers__item  messengers__item--phone">
        <a class="messengers__link" href="tel:84957408255">
          <img class="messengers__phone-icon  desktop-hide" src="../assets/images/icons/phone-2.svg" alt="Телефон"
            title="Позвонить по номеру телефона" width="26" height="26">
          <span class="messengers__number  hide-1000">+7 (495) 740-82-55</span>
        </a>
      </li>
    </ul>

    <div class="header__buttons">
      <a class="button" href="">Заказать звонок</a>
    </div>

    <nav class="header__navigation">
      <ul class="main-navigation  list  hide-800">
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="">Главная</a></li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="">Игрушки</a></li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="">Мебель</a></li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="">Качалки</a></li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="">Оплата и доставка</a></li>
        <li class="main-navigation__item">
          <a class="main-navigation__link" href="">Контакты</a></li>
      </ul>

      <button class="nav-button  desktop-hide">
        <span class="nav-button__icon"></span>
      </button>
    </nav>
  </div>
</header>
