.advantages {
  padding: 70px 0;
  position: relative;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/*.advantages__list {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-image: url(/assets/images/icons/star-list-item.svg);

}


.advantages__item {
  width: 100%;
  max-width: 100%;

}



.advantages__item {
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.cloud-1 {
  background-image: url(/assets/images/icons/cloud-1.svg);
  min-width: 307px;
  height: 200px;
}

.cloud-2 {
  background-image: url(/assets/images/icons/cloud-2.svg);
}

.cloud-3 {
  background-image: url(/assets/images/icons/cloud-3.svg);
}

.cloud-4 {
  background-image: url(/assets/images/icons/cloud-4.svg);
}

.cloud-5 {
  background-image: url(/assets/images/icons/cloud-5.svg);
}

.cloud-6 {
  background-image: url(/assets/images/icons/cloud-6.svg);


.advantages__description {
  padding: 12px 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: $black;
  margin: 0;
  position: relative;
}

.advantages__description::before {
  content: '';
  width: 31px;
  height: 26px;
  background-image: url(/assets/images/icons/star-list-item.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
  left: 25px;
  top: 25px;
}

.advantages__image {
  max-width: 455px;
  width: 100%;
  padding: 20px 15px 20px 25px;
}
} */

.advantages .icon-cat {
  top: 120px;
  right: 120px;
}


@media (max-width: 1480px) {
  .advantages .icon-cat {
    right: 0;
  }

}

@media (max-width: 1200px) {
  .advantages .icon-cat {
    display: none;
  }

}
