.benefits-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.benefits-item {
  position: relative;
  max-width: 33%;
  width: 100%;
  color: $black;
  font-size: 16px;
  line-height: 22px;

  &::before {
    content: '';
    display: block;
    width: 55px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5%;
  }
}

@media (max-width: 800px) {
  .benefits-item {
    font-size: 14px;

  }

}
