.button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  line-height: 120%;

  display: inline-block;
  box-sizing: inherit;

  padding: 15px 20px;

  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  color: $black;
  border: 1px solid $accent;
  border-radius: 5px;
  background-color: $accent;
  box-shadow: 0 6px 27px rgba(161, 97, 19, .63);

  align-items: center;

  &:hover,
  &:active,
  &:focus {
    background-color: $hover;
    border-color: $hover;
  }

  &--transparent {
    border: 1px solid $accent;

    background-color: transparent;
    box-shadow: none;

  }

}



.button--transparent {
  background-color: transparent;
  box-shadow: none;
  padding: 15px 10px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 120%;

}


@media (max-width: 800px) {
  .button--big {
    margin: 0 auto;
    display: block;
    padding: 25px 35px;
  }

}

@media (max-width: 400px) {
  .button--big {
    padding: 15px 20px;
    max-width: 90%;
  }

}

@media (max-width: 370px) {

  .button--transparent {
    padding: 15px;
    font-size: 15px;
  }

}
