.first-screen {
  background-color: $brand1;
  background-image: radial-gradient(circle 1500px at right, #8c607e 0%, #3b1b32 51%, #220d19 86%, #200c17 89%);
  position: relative;
}

.first-screen__background {
  background-image: url(../images/bg-bear-and-people.png);
  background-repeat: no-repeat;
  background-position: right -2% bottom;
}

.first-screen__content {
  max-width: 770px;
  padding: 90px 0;

}

.first-screen__title {
  font-size: 50px;
  margin-bottom: 55px;
  color: $white;
  font-weight: 900;
  line-height: 120%;
}

.first-screen .benefits-list {
  margin-bottom: 45px;

}

.first-screen .benefits-item {
  color: $white;
}

.first-screen__question {
  color: $hover;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;

}

.buttons-list__item {
  max-width: 30%;
  width: 100%;


  &+& {
    margin-left: 27px;
  }
}

.first-screen__button {
  padding: 35px 40px;
  width: 100%;
}

/* иконки */
.first-screen .icon-spiral {
  top: 50%;
  left: -5%;

}

.first-screen .icon-hearts {
  top: 5%;
  right: 5%;
}

.first-screen .icon-rabbit {
  bottom: -10px;
  right: 38%;
  z-index: 1;
}


@media (max-width: 1400px) {

  .first-screen .icon-spiral,
  .first-screen .icon-rabbit {
    display: none;
  }

  .first-screen__background {
    padding: 0 1%;
  }


}


@media (max-width: 1300px) {

  .first-screen__background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../images/bg-bear-and-people.png);
  }



}

@media (max-width: 1000px) {
  .first-screen__title {
    font-size: 45px;

  }

}

@media (max-width: 800px) {

  .first-screen .icon-hearts,
  .first-screen .icon-bird:before {
    display: none;
  }

  .first-screen__background {
    background-position: center;
    background-size: contain;
  }


  .first-screen__title {
    font-size: 35px;

  }


  .first-screen__button {
    padding: 20px 25px;
  }


}

@media (max-width: 650px) {
  .buttons-list__item+.buttons-list__item {
    margin-left: 5%;
  }
}

@media (max-width: 450px) {
  .first-screen__title {
    font-size: 30px;
    font-weight: 700;
  }

  .benefits-item {
    max-width: 30%;
    font-size: 12px;
  }

  .benefits-item:before {
    width: 35px;
    height: 35px;
  }

  .first-screen__content {
    padding-bottom: 40px;
    padding-top: 50px;
  }


}

@media (max-width: 400px) {
  .first-screen__button {
    padding: 15px 10px;
    font-size: 10px;
  }

}
