.first-screen {
  background-color: $brand1;
  background-image: radial-gradient(circle 1500px at right, #8c607e 0%, #3b1b32 51%, #220d19 86%, #200c17 89%);
  position: relative;
}

.first-screen__background {
  background-image: url(../images/bg-bear-and-people.png);
  background-repeat: no-repeat;
  background-position: right -2% top;
}

.first-screen__content {
  max-width: 770px;
  padding: 90px 0;

}

.first-screen__title {
  font-size: 50px;
  margin-bottom: 55px;
  color: $white;
  font-weight: 900;
  line-height: 120%;
}

.title-price {
  color: $accent;
}

.title-thin {
  font-weight: 400;
}

.first-screen__benefits {
  margin-bottom: 45px;
}

.icon-spiral {
  position: absolute;
  top: 50%;
  left: -5%;
  max-width: 206px;

}

.icon-heart {
  position: absolute;
  top: 5%;
  right: 5%;
  max-width: 68px;
}

.icon-rabbit {
  position: absolute;
  bottom: -10px;
  right: 38%;
  max-width: 86px;
  z-index: 1;
}

.icon-bird {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    top: -13px;
    right: -10px;
    content: '';
    display: block;
    background-image: url(../images/icons/bird.svg);
    width: 54px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.first-screen__question {
  color: $hover;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  display: inline-block;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;

}

.buttons-list__item {
  max-width: 30%;
  width: 100%;


  &+& {
    margin-left: 27px;
  }
}

.first-screen__button {
  padding: 35px 40px;
  width: 100%;
}
