.for-who .background-image {
  background-image: url(../images/bg-bear-and-harts.png);
  background-position: bottom -90px right 70px;

}

.for-who .benefits-item {
  max-width: 25%;

  &+.benefits-item {
    padding-left: 20px;
  }
}

.for-who .benefits-item:before {
  width: 90px;
  height: 90px;
}


@media (max-width: 1200px) {
  .for-who__background-image {
    background-image: none;
  }

  .wrapper--left {
    max-width: 100%;

  }

}


@media (max-width: 1300px) {

  .for-who .background-image {
    background-image: none;
  }


}


@media (max-width: 800px) {

  .for-who .benefits-item {
    max-width: 50%;
    margin-bottom: 20px;
  }

  .for-who .benefits-item+.benefits-item {
    padding-left: 0;
}



}

@media (max-width: 450px) {
  .for-who .benefits-item {
    max-width: 90%;
    margin-left: 80px;

  }

  .for-who .benefits-item:before {
    width: 50px;
    height: 40px;
    position: absolute;
    left: -65px;
    top: 0;
}

}
