/* иконки для списков  */
.icon-bag::before {
  background-image: url(../images/icons/bag.svg);
}

.icon-bear::before {
  background-image: url(../images/icons/toy-teddy-bear-1.svg);
}

.icon-grass::before {
  background-image: url(../images/icons/leaves.svg);
}

.icon-cake::before {
  background-image: url(../images/icons/cake.svg);
}

.icon-furniture::before {
  background-image: url(../images/icons/furniture.svg);
}

.icon-heart-inside::before {
  background-image: url(../images/icons/heart-inside.svg);
}

.icon-gift::before {
  background-image: url(../images/icons/gift.svg);
}


.icon-toy-teddy-bear-3::before {
  background-image: url(../images/icons/toy-teddy-bear-3.svg);
}

.icon-laptop::before {
  background-image: url(../images/icons/laptop.svg);
}

.icon-wallet::before {
  background-image: url(../images/icons/wallet.svg);
}

.icon-toy-car-bear::before {
  background-image: url(../images/icons/toy-car-bear.svg);
}

.icon-like::before {
  background-image: url(../images/icons/like.svg);
}



/* иконки для фона  */
.icon-spiral {
  display: inline-block;
  width: 206px;
  height: 190px;
  background-image: url(../images/icons/spiral.svg);
  max-width: 206px;
  width: 100%;
  position: absolute;
}

.icon-hearts {
  display: inline-block;
  height: 102px;
  background-image: url(../images/icons/hearts.svg);
  max-width: 69px;
  width: 100%;
  position: absolute;
}

.icon-rabbit {
  display: inline-block;
  height: 190px;
  background-image: url(../images/icons/rabbit.svg);
  max-width: 86px;
  width: 100%;
  position: absolute;
}

.icon-stars-3 {
  display: inline-block;
  height: 77px;
  background-image: url(../images/icons/stars-3.svg);
  max-width: 65px;
  width: 100%;
  position: absolute;
}

.icon-big-star {
  display: inline-block;
  height: 112px;
  background-image: url(../images/icons/big-star.svg);
  max-width: 143px;
  width: 100%;
  position: absolute;
}

.icon-toy-teddy-bear-2 {
  display: inline-block;
  height: 144px;
  background-image: url(../images/icons/toy-teddy-bear-2.svg);
  max-width: 130px;
  width: 100%;
  position: absolute;
}

.icon-puppy {
  display: inline-block;
  background-image: url(../images/icons/puppy.svg);
  max-width: 166px;
  height: 135px;
  width: 100%;
  position: absolute;
}

.icon-cat {
  display: inline-block;
  background-image: url(../images/icons/cat.svg);
  max-width: 95px;
  height: 135px;
  width: 100%;
  position: absolute;
}

.icon-airplane {
  display: inline-block;
  background-image: url(../images/icons/airplane.svg);
  max-width: 442px;
  height: 184px;
  width: 100%;
  position: absolute;
}

.icon-bird {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    top: -13px;
    right: -10px;
    content: '';
    display: block;
    background-image: url(../images/icons/bird.svg);
    width: 54px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
