.messengers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.messengers__item {
  width: 100%;
  max-width: 30px;
  margin-right: 5px;
}

.messengers__item--phone {
  max-width: 150px;
  font-weight: 700;
  margin: 0;
  margin-left: 15px;
}

.messengers__link {
  width: 100%;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}


@media (max-width:1000px) {
  .messengers {
    align-items: baseline;
  }

  .messengers__item--phone {
    max-width: 30px;
    margin: 0;
    margin-right: 5px;
  }

  .messengers__phone-icon {
    display: block;
    max-width: 40px;
    margin: 0;
  }


}
