.product-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.product-preview {
  display: flex;
  flex-direction: column;
  max-width: 256px;
  width: 100%;
  box-shadow: 0 6px 32px rgba(0, 0, 19, 0.21);
  color: $black;
  background-color: $white;
}

.product-preview__wrapper {
  padding: 20px 30px 40px;
  text-align: center;
}

.product-preview__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
  margin-bottom: 20px;
}

.product-preview__price {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  color: $black;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.new-price {
  font-weight: 900;
  margin-left: 10px;
  text-decoration: none;
}

.product-preview__details {
  padding: 0;
  margin: 0;
}

.product-preview__link {
  color: $hover;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  margin-right: 10px;
}

.product-preview__size {
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.07px;
}




@media (max-width: 800px) {
  .product-preview {
    max-width: 33%;
  }

  .product-preview__wrapper {
    padding: 20px 15px;
  }


}

@media (max-width: 690px) {
  .product-preview__title {
    font-size: 14px;
    margin-bottom: 13px;
  }

  .product-preview__price {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .product-group .button {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    letter-spacing: normal;
  }

  .product-preview__link {
    font-size: 12px;
    margin-right: 5px;
  }

  .product-preview__size {
    letter-spacing: normal;
    font-size: 12px;
  }

}

@media (max-width: 620px) {
  .product-preview {
    max-width: 47%;
    margin-bottom: 16px;
  }

}

@media (max-width: 370px) {

  .product-preview__price {
    justify-content: center;
  }

  .product-group {
    justify-content: center;
    margin-bottom: 10px;
  }

  .product-preview {
    max-width: 85%;
    margin-bottom: 30px;
  }

  .product-preview__wrapper {
    padding: 25px 45px;
  }

  .product-group .button {
    padding: 15px;
    font-size: 15px;
  }

  .product-preview__link {
    font-size: 15px;
    margin-right: 10px;
  }

  .product-preview__size {
    font-size: 14px;
  }



}
