.steps .background-color {
  padding: 70px 0;
  padding-bottom: 20px;
}

.steps__benefits {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  counter-reset: num;
  padding: 15px 0 5px 0;
  font-size: 16px;

}

.steps__benefits .benefits-item {
  max-width: 15%;
  padding: 0 15px;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  margin-right: 50px;

}

.steps__benefits .benefits-item:after {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 66px;
  left: -45px;
  width: 50px;
  color: $brand2;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .steps__benefits {
    justify-content: center;
  }

  .steps__benefits .benefits-item {
    max-width: 30%;
    margin-right: 0;
  }

  .steps__benefits .benefits-item:after {
    left: -30px;
  }


}

@media (max-width: 1300px) {
  .steps__benefits {
    justify-content: flex-start;
    margin-left: 20%;
    max-width: 80%;
    width: 100%;
  }

  .benefits-item:before {
    position: absolute;
    left: -55px;
    top: 0;
  }

  .steps__benefits .benefits-item {
    max-width: 100%;
  }

  .steps__benefits .benefits-item:after {
    display: none;
  }


}
