.steps .background-color {
  padding: 70px 0;
}

.steps__benefits {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  counter-reset: num;
  padding: 0;
  font-size: 16px;

}

.steps__benefits .benefits-item {
  max-width: 15%;
  width: 100%;
  padding: 0;
  position: relative;
  margin: 0;
  margin-bottom: 0;
  margin-left: 35px;

}

.steps__benefits .benefits-item:after {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 66px;
  left: -45px;
  width: 50px;
  color: $brand2;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .steps .title {
    margin-bottom: 50px;
  }

}

@media (max-width: 900px) {
  .steps__benefits .benefits-item {
    max-width: 45%;
    margin-bottom: 45px;
    padding-left: 100px;
  }

  .benefits-item:before {
    position: absolute;
    left: 30px;
    top: 10px;
  }

  .steps__benefits .benefits-item:after {
    border: 1px solid;
    border-radius: 50%;
    height: 35px;
    padding: 2%;
    top: 0px;
    left: -10px;
    width: 35px;
  }

}

@media (max-width: 710px) {
  .benefits-item:before {
    position: initial;
  }

  .steps__benefits .benefits-item {
    max-width: 47%;
    padding-left: 50px;
    margin-left: 0;
  }

  .steps__benefits .benefits-item:after {
    top: 0;
    left: 0;
    padding: 3%;
  }

}

@media (max-width: 410px) {
  .steps__benefits .benefits-item {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .steps__benefits .benefits-item:after {
    padding: 3%;
    top: 0;
    left: 5px;
    font-size: 20px;
  }

  .benefits-item:before {
    display: none;
  }

}
