.top-children {
  position: relative;

}

.top-children .background-image {
  background-image: url(../images/bg-chair-and-child.png);
  background-position: bottom 0 right 95px;
  background-size: 635px 620px;
}

.top-children .container {
  padding: 70px 0 90px;
}
