@import "vars";

@import "fonts";


/* Default styles */
html {
  box-sizing: border-box;
}

html *,
html ::after,
html ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Noto Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;

  color: $black;
  background-color: $white;
}


img {
  max-width: 100%;
  height: auto;
}

/* common */
.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.section {
  padding-top: 75px;
  padding-bottom: 120px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text {
  margin: 0;
  padding: 0;
}

.link {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: inherit;
}


/* Blocks */
@import "blocks/messengers";
@import "blocks/button";


@import "blocks/header";
@import "blocks/navigation";


@media (min-width: 1000px) {
  .desktop-hide {
    display: none;
  }

}

@media (max-width: 1000px) {

  .container {
    padding: 0 5px;

  }

  .hide-1000 {
    display: none;
  }

  .show-1000 {
    display: block;
  }



}

@media (max-width: 800px) {
  .show-800 {
    display: block;
  }

  .hide-800 {
    display: none;
  }

}
